*{
	margin:0px;
	padding:0px;
}
#client-logos .item {
    margin: 1px;
}
.cover-wrapper {
    padding: 75px;
}
.client-inners img {
    height: 100%;
    object-fit: contain;
}
.client-inners {
    border: 1px solid #ccc;
    height: 85px;
    text-align: center;
    padding: 8px;
}
.owl-nav img {
    width: 34px;
}
.owl-prev img {
    position: absolute;
    left: -38px;
    top: 50%;
    margin-top: -20px;
}
.owl-next img {
    position: absolute;
    right: -38px;
    top: 50%;
    margin-top: -20px;
}
