.tech-slideshow {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 100px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 16s linear infinite;
}



@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
